# Node.js
node_api/node_modules/
npm-debug.log

# Python
.venv/
python_ia/venv/
__pycache__/
*.py[cod]
*$py.class

# Banco de Dados e Dados Locais
data/database.db
data/database.db-shm
data/database.db-wal
data/encodings.pickle
data/faces/*
!data/faces/.gitkeep
data/clips/*
!data/clips/.gitkeep
data/screenshots/*
!data/screenshots/.gitkeep

# Variaveis de Ambiente
.env